.example04 {
  tr {
    th:nth-child(1) {
      color: red;
      border: 1px solid red;
      border-right: 1px dashed red;
    }
    th:nth-child(2) {
      border-left: 0px;
    }
    td:last-child {
      text-align: right;
    }
  }
}
