.example03 {
  tr {
    th {
      font-weight: normal;
    }
    td:last-child {
      text-align: right;
    }
  }
  tbody tr:nth-child(1) {
    height: 80px;
  }
  tbody tr:first-child {
    font-style: italic;
  }
}
