.example11 {
  .fa.fa-caret-square-o-down {
    font-size: 20px;
  }
  tr {
    th {
      font-weight: normal;
      background-color: #000;
      color: #fff;
      border-bottom: 1.2px solid #fff;
      span.fa {
        float: right;
      }
    }
    td {
      background-color: #4472c4;
      color: #fff;
      border: 1px solid transparent;
    }
    td:last-child {
      text-align: right;
    }
  }
  tbody {
    tr:last-child td {
      background-color: #203764;
      border-top: 1.2px solid #fff;
    }
  }
}
