.example07 {
  tr {
    th {
      font-weight: bold;
      color: #0000ff;
      background-color: #00ff00;
      border: 1px solid transparent;
    }
    td {
      border: 1px solid transparent;
    }
    td:first-child {
      background-image: linear-gradient(to right,#0070c0, #92d050);
      color: #fff;
    }
    td:last-child {
      text-align: right;
    }
  }
}
