.example09 {
  .fa.fa-caret-square-o-down {
    font-size: 20px;
  }
  tr {
    th {
      font-weight: normal;
      background-color: #000;
      color: #fff;
      span.fa {
        float: right;
      }
    }
    td {
      background-color: #4472c4;
      color: #fff;
      border: 1px solid transparent;
    }
    td:nth-last-child(-n + 3) {
      text-align: right;
    }
  }
}
