name: CI Build
on:
  push:
    branches: [main, next]
  pull_request:
    branches:
      - "**"

permissions:
  checks: write
  pages: write
  contents: write
  pull-requests: write

jobs:
  run:
    if: github.repository_owner == 'ghiscoding' || github.repository_owner == 'renovate-bot' || contains(github.event.pull_request.labels.*.name, 'run workflow')
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Retrieve current Date Time in EST
        shell: bash
        run: echo "START_TIME=$(TZ=":America/New_York" date -R|sed 's/.....$//')" >> $GITHUB_ENV

      - name: Echo date - ${{ env.START_TIME }}
        run: echo ${{ env.START_TIME }}

      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 3

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10
          run_install: false

      - name: Set NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Run pnpm install dependencies
        run: pnpm install

      - run: pnpm --version
      - run: node --version

      - name: Biome Lint Check
        run: pnpm biome:lint:check

      - name: Biome Format Check
        run: pnpm biome:format:check

      - name: Build Library
        run: pnpm build:lib

      - name: Run Vitest unit tests
        if: |
          !contains(github.event.head_commit.message, 'chore(release)')
        run: pnpm test:coverage

      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Build Website (GitHub demo site)
        run: pnpm build:demo

      - name: Deploy Demo to gh-pages
        if: |
          github.ref == 'refs/heads/main' &&
          (contains(github.event.head_commit.message, 'chore(release)') || contains(github.event.head_commit.message, '[refresh gh-pages]'))
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/demo/dist
